#logo{
    max-height: 250px;
    max-width: 200px;
    border-radius: 50%;
    text-align:center;
    display:flex;
    justify-content: center;
}

#navBar{
    display: flex;
    justify-content: space-between;
    font-size:large;
    font-weight:bold;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

#navLink{
    text-decoration: none;
    color: #d58004;
    transition: transform 300ms ease;
    transform:scale(1);
    font-size: larger;
    max-height:100%;
    max-width:100%
}

#navLink:hover{
    text-decoration: underline;
    color: #704803;
    transition-duration: 300ms;
    transform:scale(1.5);
}

#navBar{
    background-color: #fdb15d;
}

#logosub{
    font-family: 'bickhamscriptpro-semibold', important;
    text-align: center;
    font-size: xx-large;
    transform: scale(1.5);
}